.card .cardBorder {
    -fx-fill: #168EE9;
}

.card:hover .cardBorder {
    -fx-fill: #A0CA88;
}

.card:hover {
    -fx-background-color: #d8d8d8;
}

.monthButton:hover {
    -fx-background-color: #d8d8d8;
}